/*all common css start*/

* {
  margin: 0;
  padding: 0;
  outline: 0;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style-type: none;
}
.clr {
  clear: both;
}

/*all common css end*/

/*magnific popup box part start*/

.box {
  padding-top: 50px;
  padding-bottom: 45px;
  background: #2c2c2c;
  margin-top: 50px;
}

.gallerys {
  width: 25%;
  float: left;
}
.gallerys img {
  width: 100%;
}

/*magnific popup box part end*/
